body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    /* position: fixed;   use this to disable scrolling*/
}

#canvas {
    box-shadow: 0 5px 20px gray;
    background-color: white;
    margin: auto;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    z-index: 20;
    margin-bottom: 60px;
    touch-action: none;
}

#canvas-container {
    display: inline-block;
    position: relative;
    margin: auto;
    margin-top: 40px;
}

#backgroundImage {
    position: absolute;
    display: none;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    background-color: white;
}

.title-box {
    text-align: center;
    color: #DDD5C7;
    font-size: 64px;
    font-variant: small-caps;
    font-family: Gruppo, cursive;
    text-shadow: 0 0 20px gray;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    z-index: 50;
    width: 500px;
    height: 70px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}

#toolbars {
    position: sticky;
    top: 70%;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    background-color: black;
    bottom: 10px;
    z-index: 40;
    height: 160px;
    width: 800px;
    border: 1px solid white;
}

.button-toolbar {
    text-align: center;
    margin-bottom: 10%;
}
  
.canvas-toolbar {
    text-align: center;
    margin: 0px 0px 28px 0px;
}

.selector {
    border-radius: 0px;
    width: 120px;
    height: 32px;
    margin: 0px 10px 0px 10px;
    padding: 0px;
    font-size: 13px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-variant: small-caps;
    transition: all 0.2s;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    -ms-text-align-last: center;
}

.selector:hover {
    box-shadow: 0 0 10px white;
    background-color: white;
    color: black;
    cursor: pointer;
}

.selector:active {
    background-color: aquamarine;
    box-shadow: aquamarine;
    border: aquamarine;
}

.btn {
    border-radius: 0px;
    width: 160px;
    height: 40px;
    margin: 0px 10px 0px 10px;
    font-size: 16px;
    border-radius: 8px;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid white;
    color: white;
    font-variant: small-caps;
    transition: all 0.2s;
}

.btn:hover {
    box-shadow: 0 0 10px white;
    background-color: white;
    color: black;
    cursor: pointer;
}

.btn:active {
    background-color: aquamarine;
    box-shadow: aquamarine;
    border: aquamarine;
}

.canvas-toolbar-label {
    text-align: center;
}

.canvas-toolbar-label p {
    display: inline-block;
    font-size: 15px;
    width: 120px;
    height: 28px;
    margin: 16px 10px 0px 10px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

a {
    transition: all 0.2s;
}

a:link {
    color: #DDD5C7;
}

a:visited {
    color: white;
}

a:hover {
    text-shadow: 0 0 5px white;
    color: white;
    cursor: pointer;
}

a:active {
    color: aquamarine;
}

#sideMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: darkslategray;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: 0 0 30px lightgray;
}

#sideMenu .selector {
    background-color: darkslategray;
    transition: 0.2s;
}

#sideMenu .selector:hover {
    background-color: white;
    color: darkslategray;
}

#sideMenu .btn {
    background-color: darkslategray;
    transition: 0.2s;
}

#sideMenu .btn:hover {
    background-color: white;
    color: darkslategray;
}
  
#sideMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.2s;
}
  
#sideMenu a:hover {
    text-shadow: 0 0 5px white;
    color: white;
    cursor: pointer;
}
  
#sideMenu #closeSideMenuButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#openSideMenuButton {
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 0 0 50px;
    margin: auto;
    font-size: 32px;
    color: white;
    transition: 0.2s;
}

#openSideMenuButton:hover {
    text-shadow: 0 0 5px white;
    color: white;
    cursor: pointer;
}

:focus {
    outline: 0;
}
