body {
    background-color: #003262;
    color: #DDD5C7;
    font-family: sans-serif;
    /* position: fixed;   use this to disable scrolling*/
}

#canvas {
    border: 2px solid black;
    background-color: white;
    margin: auto;
    display: block;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #DDD5C7;
    font-size: 64px;
    font-variant: small-caps;
    font-family: 'Gruppo', cursive;
}

.button-toolbar {
    text-align: center;
}
  
.canvas-toolbar {
    text-align: center;
    margin: 0px 0px 35px 0px;
}

.canvas-toolbar select {
    border-radius: 0px;
    width: 150px;
    height: 40px;
    margin: 0px 25px 0px 0px;
    padding: 0px;
    font-size: 16px;
    border-radius: 20px;
    font-family: 'Gruppo', cursive;
    font-weight: 900;
}
  
.button-toolbar button {
    border-radius: 0px;
    width: 200px;
    height: 50px;
    margin: 0px 25px 0px 0px;
    font-size: 22px;
    border-radius: 25px;
    font-family: 'Gruppo', cursive;
    font-weight: 900;
}

.canvas-toolbar-label {
    text-align: center;
}

.canvas-toolbar-label p {
    display: inline-block;
    font-size: 22px;
    width: 150px;
    height: 35px;
    margin: 50px 25px 0px 0px;
    padding: 0px;
    font-family: 'Gruppo', cursive;
    font-weight: 900;
}
