body {
    background-color: #003262;
    color: #DDD5C7;
    font-family: sans-serif;
    text-align: center;
    /* position: fixed;   use this to disable scrolling*/
}

#canvas {
    box-shadow: 0 5px 20px black;
    background-color: white;
    margin: auto;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    z-index: 20;
}

#canvas-container {
    display: inline-block;
    position: relative;
    margin: auto;
}

#backgroundImage {
    position: absolute;
    display: none;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    background-color: white;
}

h1 {
    text-align: center;
    color: #DDD5C7;
    font-size: 64px;
    font-variant: small-caps;
    font-family: Gruppo, cursive;
    text-shadow: 0 0 20px black;
}

.button-toolbar {
    text-align: center;
}
  
.canvas-toolbar {
    text-align: center;
    margin: 0px 0px 35px 0px;
}

.canvas-toolbar select {
    border-radius: 0px;
    width: 150px;
    height: 40px;
    margin: 0px 25px 0px 0px;
    padding: 0px;
    font-size: 16px;
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #003262;
    border: 2px solid white;
    color: white;
    font-variant: small-caps;
    transition: all 0.2s;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    -ms-text-align-last: center;
}

.canvas-toolbar select:hover {
    box-shadow: 0 0 10px white;
    background-color: white;
    color: #003262;
}

.button-toolbar button {
    border-radius: 0px;
    width: 200px;
    height: 50px;
    margin: 0px 25px 0px 0px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #003262;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid white;
    color: white;
    font-variant: small-caps;
    transition: all 0.2s;
}

.button-toolbar button:hover {
    box-shadow: 0 0 10px white;
    background-color: white;
    color: #003262;
}

.button-toolbar button:active {
    background-color: aquamarine;
    box-shadow: aquamarine;
    border: aquamarine;
}

.canvas-toolbar-label {
    text-align: center;
}

.canvas-toolbar-label p {
    display: inline-block;
    font-size: 20px;
    width: 150px;
    height: 35px;
    margin: 50px 25px 0px 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

:focus {
    outline: 0;
}
