:root {
    --theme-color: #003262;
    --menu-color: #001631;
    --text-color: white;
    --title-color: #DDD5C7;
    --link-color: #DDD5C7;
    --active-link-color: aquamarine;
    --title-shadow: 0 0 20px black;
    --text-shadow: 0 0 5px var(--text-color);
    --canvas-shadow: 0 5px 20px black;
    --menu-shadow: 0 0 30px black;
}

body {
    background-color: var(--theme-color);
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    transition: 0.2s;
    overflow: visible;
}

#canvas {
    box-shadow: var(--canvas-shadow);
    background-color: white;
    margin: auto;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    z-index: 20;
    margin-bottom: 60px;
    touch-action: none;
}

#canvas-container {
    display: inline-block;
    position: relative;
    margin: auto;
    margin-top: 40px;
}

#backgroundImage {
    position: absolute;
    display: none;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    background-color: white;
}

.title-box {
    text-align: center;
    color: var(--title-color);
    font-size: 64px;
    font-variant: small-caps;
    font-family: Gruppo, cursive;
    text-shadow: var(--title-shadow);
    background-color: var(--theme-color);
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    z-index: 50;
    width: 500px;
    height: 70px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    transition: 0.2s;
}

#toolbars {
    position: fixed;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    background-color: var(--theme-color);
    bottom: -150px;
    left: 0;
    right: 0;
    z-index: 70;
    height: 200px;
    width: 800px;
    border: 1px solid var(--text-color);
    transition: all 0.2s;
    transition: bottom 0.5s;
}

.button-toolbar {
    text-align: center;
    margin-bottom: 10%;
}
  
.canvas-toolbar {
    text-align: center;
    margin: 0px 0px 24px 0px;
}

.selector {
    width: 130px;
    height: 35px;
    margin: 0px 10px 0px 10px;
    padding: 0;
    font-size: 16px;
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--theme-color);
    border: 2px solid var(--text-color);
    color: var(--text-color);
    font-variant: small-caps;
    transition: all 0.2s;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    -ms-text-align-last: center;
}

.selector:hover {
    box-shadow: 0 0 10px var(--text-color);
    background-color: var(--text-color);
    color: var(--theme-color);
    cursor: pointer;
}

.selector:active {
    background-color: var(--active-link-color);
    box-shadow: 0 0 10px var(--active-link-color);
    border: var(--active-link-color);
}

.btn {
    border-radius: 0px;
    width: 160px;
    height: 40px;
    margin: 0px 10px 0px 10px;
    font-size: 16px;
    border-radius: 8px;
    background-color: var(--theme-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    font-variant: small-caps;
    transition: all 0.2s;
}

.btn:hover {
    box-shadow: 0 0 10px var(--text-color);
    background-color: var(--text-color);
    color: var(--theme-color);
    cursor: pointer;
}

.btn:active {
    background-color: var(--active-link-color);
    box-shadow: 0 0 10px var(--active-link-color);
    border: var(--active-link-color);
}

.canvas-toolbar-label {
    text-align: center;
}

.canvas-toolbar-label p {
    display: inline-block;
    font-size: 15px;
    width: 120px;
    height: 28px;
    margin: 16px 10px 0px 10px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
}

.canvas-toolbar-title {
    text-align: center;
    display: initial;
    font-variant: small-caps;
}

.canvas-toolbar-title p {
    display: inline-block;
    font-size: 20px;
    width: 120px;
    height: 28px;
    margin: 16px 10px 0px 10px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
}

a {
    transition: all 0.2s;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--text-color);
}

a:hover {
    text-shadow: var(--text-shadow);
    color: var(--text-color);
    cursor: pointer;
}

a:active {
    color: var(--active-link-color);
}

#sideMenu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -250px;
    background-color: var(--menu-color);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: none;
}

#sideMenu .selector {
    background-color: var(--menu-color);
    width: 150px;
    transition: 0.2s;
}

#sideMenu .selector:hover {
    background-color: var(--text-color);
    color: var(--menu-color);
}

#sideMenu .selector:active {
    background-color: var(--active-link-color);
    box-shadow: 0 0 10px var(--active-link-color);
    border: var(--active-link-color);
}

#sideMenu .btn {
    background-color: var(--menu-color);
    height: 50px;
    width: 170px;
    transition: 0.2s;
}

#sideMenu .btn:hover {
    background-color: var(--text-color);
    color:var(--menu-color);
}

#sideMenu .btn:active {
    background-color: var(--active-link-color);
    box-shadow: 0 0 10px var(--active-link-color);
    border: var(--active-link-color);
}
  
#sideMenu #closeMenu {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    transition: 0.2s;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
#sideMenu #closeMenu:hover {
    text-shadow: var(--text-shadow);
    color: var(--text-color);
    cursor: pointer;
}

#openSideMenuButton {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10px;
    background-color: var(--theme-color);
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 32px;
    color: var(--text-color);
    transition: 0.2s;
    z-index: 70;
}

#openSideMenuButton:hover {
    text-shadow: var(--text-shadow);
    color: var(--text-color);
    cursor: pointer;
}

:focus {
    outline: 0;
}

.faq-center-div {
    max-width: 68%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 200px;
}

.faq-title-box {
    text-align: center;
    color: var(--title-color);
    font-size: 64px;
    font-variant: small-caps;
    font-family: Gruppo, cursive;
    text-shadow: var(--title-shadow);
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    transition: 0.2s;
}

footer {
    margin-bottom: 70px;
}

.profile-div {
    padding: 10px;
}

.profile {
    text-align: left;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4%;
    margin-right: 4%;
    display: inline-block;
    width: 32%;
    height: auto;
    border-radius: 40px;
    box-shadow: var(--canvas-shadow);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: var(--text-color);
    color: var(--theme-color);
}

@media only screen and (max-width: 641px) {
    .profile {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.profile-picture {
    border-radius: 50%;
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    box-shadow: 0 5px 20px black;
}

.profile-icon-div {
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
}

.profile-icon{
    color: var(--theme-color);
    display: inline-block;
}

#welcomePopup {
    width: 0;
    height: 0;
    border-radius: 10px;
    background-color: var(--theme-color);
    color: var(--text-color);
    box-shadow: var(--menu-shadow);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 150;
    text-align: center;
    margin: auto;
    transition: 0.3s;
    display: none;
    padding: 0;
}

.welcomeText {
    display: none;
}

@keyframes working {
    from { transform: rotate(-90deg) translateX(35px) rotate(90deg); }
    to   { transform: rotate(270deg) translateX(35px) rotate(-270deg); }
}

#one {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-color);
    position: absolute;
    top: 120px;
    left: 95px;
    z-index: 145;
    margin: 0;
    display: none;
    animation-name: working;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

#two {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-color);
    position: absolute;
    top: 120px;
    left: 95px;
    z-index: 145;
    margin: 0;
    display: none;
    animation-name: working;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.1s;
}

#three {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-color);
    position: absolute;
    top: 120px;
    left: 95px;
    z-index: 145;
    margin: 0;
    display: none;
    animation-name: working;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
}

#four {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-color);
    position: absolute;
    top: 120px;
    left: 95px;
    z-index: 145;
    margin: 0;
    display: none;
    animation-name: working;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}

#working {
    display: none;
}

#message {
    display: none;
}

#closePopupButton {
    display: none;
    position: absolute;
    margin: auto;
    bottom: 20px;
    left: 0;
    right: 0;
}

#messagePopup {
    width: 0;
    height: 0;
    border-radius: 10px;
    background-color: var(--theme-color);
    color: var(--text-color);
    box-shadow: var(--menu-shadow);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 147;
    text-align: center;
    margin: auto;
    transition: 0.3s;
    display: none;
    padding: 0;
}

#workingPopup {
    width: 0;
    height: 0;
    border-radius: 10px;
    background-color: var(--theme-color);
    color: var(--text-color);
    box-shadow: var(--menu-shadow);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 140;
    text-align: center;
    margin: auto;
    transition: 0.6s;
    display: none;
    padding: 0;
}

#confirmPopup {
    width: 0;
    height: 0;
    border-radius: 10px;
    background-color: var(--theme-color);
    color: var(--text-color);
    box-shadow: var(--menu-shadow);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 146;
    text-align: center;
    margin: auto;
    transition: 0.3s;
    display: none;
    padding: 0;
}

#confirmButtonContainer {
    display: none;
    position: absolute;
    margin: auto;
    bottom: 20px;
    left: 0;
    right: 0;
}

#confirmMessage {
    display: none;
}

#confirmYes {
    display: none;
}

#confirmNo {
    display: none;
}

#promptPopup {
    width: 0;
    height: 0;
    border-radius: 10px;
    background-color: var(--theme-color);
    color: var(--text-color);
    box-shadow: var(--menu-shadow);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 146;
    text-align: center;
    margin: auto;
    transition: 0.3s;
    display: none;
    padding: 0;
}

#promptButtonContainer {
    display: none;
    position: absolute;
    margin: auto;
    bottom: 20px;
    left: 0;
    right: 0;
}

#promptMessage {
    display: none;
}

#submitPrompt {
    display: none;
}

#cancelPrompt {
    display: none;
}

#url {
    background-color: var(--theme-color);
    border: 2px solid var(--text-color);
    padding: 8px;
    width: 600px;
    height: 20px;
    color: var(--text-color);
    border-radius: 5px;
    transition: width 0.3s;
    display: none;
}

#welcomePopup #closePopup {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: var(--text-color);
    display: none;
    transition: 0.2s;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 32px;
    margin-left: 50px;
}
  
#welcomePopup #closePopup:hover {
    text-shadow: var(--text-shadow);
    color: var(--text-color);
    cursor: pointer;
}

#popupContainer {
    width: 0;
    height: 0;
    background-color: rgba(187, 187, 187, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 130;
    transition: 0.1s;
    display: none;
}

::placeholder {
    color: var(--text-color);
    opacity: 0.8;
}

::-webkit-input-placeholder {
    color: var(--text-color);
    opacity: 0.8;
}
